<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ForMap.Properties.Settings.Weather1ConnectionString"
            connectionString="Data Source=DESKTOP-PVRGJ52\SQLEXPRESS;Initial Catalog=Weather1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ForMap.Properties.Settings.КлимРиски_18_12_13ConnectionString"
            connectionString="Data Source=DESKTOP-PVRGJ52\SQLEXPRESS;Initial Catalog=КлимРиски_18-12-13;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>